<a href="https://colab.research.google.com/github/pradeep-016/ML_Tutorials/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1NMyxq98icHcrwMPxtMgaTaoNrJv_AThu?usp=sharing)

###Import the following packages
1. `Numpy`
2. `Pandas`
3. `Matplotlib`
4. `seaborn`
5. `datetime`

`import datetime as dt`

In [ ]:
#import the libraries here

###Upload the Dataset in Colab and Read load it in DataFrame

In [ ]:
#create 'df' dataframe here

###Display the First 10 Rows

In [ ]:
#Write the code to display first 10 Rows

###Display the infomation of the dataset

In [ ]:
#display the info of the dataset

###Display the statistics of the data using describe

In [ ]:
#describe the data

###Run the following code to convert the string datatype into date

In [ ]:
df["Date Joined"] = pd.to_datetime(df["Date Joined"])

###Check the datatype of Date Joined

In [ ]:
#use info()

###Now Extract the Year From the date by running the following code

In [ ]:
df["Year Joined"] = df["Date Joined"].dt.year

###Now Display the First 5 Sample of data

In [ ]:
#write the code here for display the first 5 rows

### Check remove the duplicate rows by using `drop_duplicates()`

In [ ]:
#use the method for the dataframe

### Now Fill the Missing Values in the Dataset using `fillna()` Method

In [ ]:
df.fillna(df['city'].median())